In [11]:
#import libraries

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd

In [13]:
#load and preview the dataset

In [3]:
data=pd.read_csv("uncleaned_sample_customer_data.csv")

In [5]:
data.head()

  Customer_ID  Age Gender Product_Category  Purchase_Amount Purchase_Date
0          1    56     F            Books            111.94   2023-01-01
1          2    46   nan            Books            947.98   2023-01-08
2          3    32     F              nan            606.96   2023-01-15
3          4    60     F         Clothing            446.87   2023-01-22
4          5    25     F         Clothing            114.37          nan

In [7]:
data.shape

(25, 6)

In [15]:
data['Customer_ID'].unique()

array(['1 ', '2 ', '3 ', '4 ', '5 ', '6 ', '7 ', '8 ', '9 ', '10 ', '11 ',
       '12 ', '13 ', '14 ', 'Unknown ', '16 ', '17 ', '18 ', '19 ', '20 '],
      dtype=object)

In [17]:
#display basic info about the dataset

In [19]:
data.info

<bound method DataFrame.info of    Customer_ID  Age Gender Product_Category  Purchase_Amount Purchase_Date
0           1    56     F            Books            111.94   2023-01-01
1           2    46   nan            Books            947.98   2023-01-08
2           3    32     F              nan            606.96   2023-01-15
3           4    60     F         Clothing            446.87   2023-01-22
4           5    25     F         Clothing            114.37          nan
5           6    38     M   Home & Kitchen            307.80   2023-02-05
6           7    56     M         Clothing            316.92   2023-02-12
7           8    36     F   Home & Kitchen            714.94          nan
8           9    40     F            Books            649.00   2023-02-26
9          10    28     F   Home & Kitchen            849.88   2023-03-05
10         11    28     M            Books            256.03   2023-03-12
11         12    41     F            Books            451.95   2023-03-19
12         13    53     M      Electronics            264.01   2023-03-26
13         14    57     M   Home & Kitchen            779.83   2023-04-02
14    Unknown    41     M      Electronics            482.64   2023-04-09
15         16    20     M   Home & Kitchen            287.15   2023-04-16
16         17    39   nan   Home & Kitchen            610.93   2023-04-23
17         18    19     F              nan            128.18   2023-04-30
18         19    41     F      Electronics            858.06   2023-05-07
19         20    61     F   Home & Kitchen            504.78   2023-05-14
20         19    41     F      Electronics            858.06   2023-05-07
21          3    32     F              nan            606.96   2023-01-15
22          9    40     F            Books            649.00   2023-02-26
23          5    25     F         Clothing            114.37          nan
24         18    19     F              nan            128.18   2023-04-30 >

In [25]:
# check for data types

In [27]:
data.dtypes

Customer_ID          object
Age                   int64
Gender               object
Product_Category     object
Purchase_Amount     float64
Purchase_Date        object
dtype: object

In [29]:
#convert data types if necessary

In [33]:
data['Product_Category']=data['Product_Category'].astype('string')
data['Gender']=data['Gender'].astype('string')